thead, th {
    position: relative;
}

.map-senegal {
    opacity: 0.6;
    height: auto;
    width: 300px;
}

.cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 20px;
    text-align: center;
    justify-content: center;
    justify-items: center;
}

.card-title {
    font-size: 3em
}
