thead, th {
    position: relative;
}

.map-senegal {
    opacity: 0.6;
    height: auto;
    width: 100%;
}

.cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: center;
    justify-content: center;
    justify-items: center;
}